html {
    scroll-behavior: smooth;
}

body {
    background-color: burlywood;
    font-family: 'Rowdies', cursive;
    text-decoration: underline;
}

h3 {
    color: brown;
    font-size: 20px;
}

h1 {
    color: blue;
    font-size: 30px;
}

p {
    color: crimson;
    font-size: 17px;
}
